
<style>
    /* .left-column {
        display: block;
        float: left;
        
    }
      .feed {
        display: block;
        float: left;
    }
      .left-column {
        display: block;
        float: left;
    } */
    h1 {
        text-align: center;
    }
    .main {
        display: flex;
        justify-content: space-around;
    }
        /* .left-column {
        display: flex;
        justify-content: flex-start;
        
    }
      .feed {
        display: flex;
        justify-content: center;
    }
      .left-column {
       display: flex;
        justify-content: flex-end;
    } */

</style>
<h1>User Home Page</h1>
<div class="main">
    <div class="left-column">
        <p>Connections</p>
    </div>

    <div class="feed"> 
        <h3>Feed</h3>
    </div>

    <div class="right-column">
        <p>News</p>
    </div>
</div>