<form action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Full Name
        <input type="text" name="user[fullname]">
    </label>

    <label>Email
        <input type="text" name="user[email]">
    </label>

    <label>Password
        <input type="password" name="user[password]">
    </label>

    <label>City
        <input type="text" name="user[city]">
    </label>

    <label>State
        <select name="" id=""></select>
    </label>

    <input type="submit" value="Sign Up">

</form>